.inline-block {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 83%;
    padding: 1%;
}
ul {
    margin-left: auto;
    width: 50%;
}

li {
    padding-left: 40px;
}

.navigation {
    background-color: #00295f;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 32px;
    margin: 0 auto;
}

h6 {
    font-family: "Open Sans", sans-serif;
    font-size: small;
    text-transform: uppercase;
    margin: 3% 0 1% 0;
    letter-spacing: 0.05em;

}

#selectedWork {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 6% 0 3% 0;
}

#selectedWork::after{
    display: block;
    width: 25%;
    justify-content: center;
    content: '';
    border-bottom: 1px solid #000;
    margin: 10px auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.heroImg {
    height: 500px;
    padding: 25px 25px 0 25px;
}
.content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
footer {
    background-color: #00295f;
    padding: 2px;
}
.ulfooter {
    display: inline-block;
    vertical-align: top;
    padding: 2px;

}

.flexContainer {
    display: flex;
    border-style: solid;
    border-color: red;
    justify-content: center;
    margin: 0 10% 5% 10%;
    column-gap: 50px;
}

.flexBox {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-style: solid;
    border-color: blue;
    align-items: center;
}

.flexBoxText {
    text-align: left;
    border-style: solid;
    border-color: yellow;
}